<section class="contact">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Contact-me<span class="blue">_</span></h2>
        <hr>
        <div class="email">
          <h5><a href="mailto:thalesaleite@gmail.com">thalesaleite@gmail.com</a></h5>
        </div>
        <div class="social">
          <a href="https://www.linkedin.com/in/thales-leite-10277431/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/thalesleite" target="_blank"><i class="fab fa-github"></i></a>
          <!-- <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a> -->
        </div>
      </div>
      <div class="col-md-12">
        <hr> &copy; {{ year }} Thales Leite
      </div>
    </div>
  </div>
</section>