@import "../../sass/variables";
@import "../../sass/base";

.navbar {

  .navbar-brand img {
    width: 8rem; 
    height: 8rem;
  }

  .nav-item {
    font-size: 1.6rem;
    font-weight: 600;
    a {
      padding-right: 2rem;
      color: white;
    }
  }
}

